<h1>New Payment plan</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.payment_plan_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.payment_plan_path(@conn, :index) %></span>
