<%= form_for @changeset, @action, [as: :registration], fn f -> %>
  <%= form_group(f, :email, using: :text_input) %>
  <%= form_group(f, :full_name) %>
  <%= form_group(f, :company_name) %>
  <%= form_group(f, :password) %>
  <%= form_group(f, :password_confirmation) %>

  <div>
    <%= submit gettext("Register"), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="form-row justify-content-center">
  <div class="form-group col-md-6">

  </div>
</div>