<%= form_for @changeset, @action, [as: :registration], fn f -> %>
  <%= form_group(f, :email, using: :text_input) %>
  <%= form_group(f, :full_name) %>
  <%= form_group(f, :company_name) %>
  <%= form_group(f, :password) %>
  <%= form_group(f, :password_confirmation) %>

  <div>
    <%= submit gettext("Sign Up"), class: "btn btn-primary btn-block mt-4" %>
  </div>
<% end %>