<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tag() %>
  <title>Lucuma</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>
<body class="h-100 body-bg-color">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <%= render @view_module, @view_template, assigns %>
  </div>
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
