/* This file is for your main application css. */

@import "bootstrap_overrides";
@import "~bootstrap/scss/bootstrap";
@import "~intl-tel-input/build/css/intlTelInput.css";


.highcharts-credits {
  display: none;
}

.intl-tel-input {
  display: block;
}

.card-header {
  background-color: white;
}

.party-size-summary-chart {
  &__wrapper {
    height: 155px;
  }

  &__chart {
    min-width: 300px;
    height: 151px;
    max-width: 100%;
    margin: 0 auto;
  }
}