<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HoldUp</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
</head>

<body>
  <main role="main">
    <%= render "navigation.html", conn: @conn %>
    <%= if is_nil(Map.get(assigns, :inner_layout)) do %>
      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    <% else %>
     <%= Map.get(assigns, :inner_layout) %>
    <% end %>
  </main>

  <!-- /container -->
  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
</body>
</html>