<h1>Show Wait list</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @wait_list.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.wait_list_path(@conn, :edit, @wait_list) %></span>
<span><%= link "Back", to: Routes.wait_list_path(@conn, :index) %></span>
